@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 200%
  }
}

.animate-gradient {
  background-size: 200%;
  animation: gradientMove 15s linear infinite;
}